@font-face {
  font-family: "Cinzel";

  src: url("/assets/fonts/Cinzel/Cinzel-VariableFont_wght.ttf") format("truetype");

  font-weight: 400 900;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: "CormorantGaramond";
  src: url("/assets/fonts/Cormorant_Garamond/CormorantGaramond-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CormorantGaramond";
  src: url("/assets/fonts/Cormorant_Garamond/CormorantGaramond-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

